.App {
  text-align: center;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.Header {
  margin: 20px;
  border: 1px solid;
}
.LogInLogOut {
  margin: 20px;

  border: 1px solid;
}
.LogIn {
  margin: 20px;

  border: 1px solid;
}
.NewCharacter {
  margin: 20px;

  border: 1px solid;
}
.NewCharButton {
  margin: 20px;

  border: 1px solid;
}
.Signup {
  margin: 20px;

  border: 1px solid;
}
.card {
  width: 300px;
  height: auto;

  border: 1px solid;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-img-top {
  clip-path: circle();
  width: 50%;
}
.Profile {
  width: 100vw;
  height: 100vw;
  border: 1px solid;
  float: left;
}
.profile_img {
  float: left;
  clip-path: circle();
  width: 300px;
  height: auto;
}
