.App {
  text-align: center;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #F7CE65 0%, #FFFEBD 100%);
  height: 100%;
  width: 100%;
  color: #030303;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.Header {
  border-bottom: 1px solid black;
  width: 400px;
  margin: auto;
  padding: 0;
}
.Header h1{
  margin: 0;
}
.LogInLogOut {
  border: 1px solid;
}
.LogIn {
  border: 1px solid;
}
.NewCharacter {
  border: 1px solid;
}
.NewCharButton {
  border: 1px solid;
}
.Signup {
  border: 1px solid;
  padding: 5px;
}
.profile_img {
  clip-path: circle();
  width: 300px;
  height: auto;
}
.charList {
  list-style-type: none;
  padding: 0;
}
.Link{
  color: crimson;
}
#headerLink{
  text-decoration: none;
}